.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondaryColorBtnPlay', endColorstr='$primaryColorBtnPlay',GradientType=0);
  background-color: #ffffff;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: .3em; }

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primaryColorBtnPlay', endColorstr='$secondaryColorBtnPlay',GradientType=0);
  background-color: #f6f6f6; }

.myButton:active {
  position: relative;
  top: 1px; }

/*components*/
/* toggle */
/* thx to Mauricio Allendo for nice button */
/* https://codepen.io/mallendeo/pen/eLIiG */
/* general toggle style */
.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease; }

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE; }

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
  border: 1px solid #e8eae9; }
  .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08); }
  .tgl-ios + .tgl-btn:hover:after {
    will-change: padding; }
  .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9; }
    .tgl-ios + .tgl-btn:active:after {
      padding-right: .8em; }

.tgl-ios:checked + .tgl-btn {
  background: #86d993; }
  .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none; }
    .tgl-ios:checked + .tgl-btn:active:after {
      margin-left: -.8em; }

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888; }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on); }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off); }
  .tgl-skewed + .tgl-btn:active {
    background: #888; }
    .tgl-skewed + .tgl-btn:active:before {
      left: -10%; }

.tgl-skewed:checked + .tgl-btn {
  background: #86d993; }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%; }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0; }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%; }

ul li {
  color: #fff0a5;
  display: block;
  position: relative;
  text-transform: uppercase; }
  ul li:hover label {
    color: #FFFFFF; }
  ul li input[type=radio] {
    position: absolute;
    visibility: hidden; }
  ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0 0 0 50px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transform: skew(-10deg); }
  ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #fff0a5;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 5px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear; }
  ul li:hover .check {
    border: 5px solid #FFFFFF; }
  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear; }

input[type=radio]:checked ~ .check {
  border: 5px solid #86d993; }

input[type=radio]:checked ~ .check::before {
  background: #86d993; }

input[type=radio]:checked ~ label {
  color: #86d993; }

.c-pp {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  border: 2px solid #17491f;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  user-select: none; }
  .c-pp__icon {
    box-sizing: border-box;
    display: block;
    position: absolute;
    transition: all 0.2s ease;
    width: 15px;
    height: 30px;
    transform: translateX(23.07692px);
    top: 15px;
    border-top: 0 solid transparent;
    border-right: 5px solid #17491f;
    border-bottom: 0 solid transparent;
    border-left: 5px solid #17491f; }
    .is-play .c-pp__icon {
      transform: translateX(26.08696px);
      border-top: 15px solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #17491f; }

.c-pp:hover {
  -webkit-animation: filter-animation .3s normal forwards ease; }

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: invert(0); }
  100% {
    -webkit-filter: invert(1); } }

input[type="range"] {
  -webkit-appearance: none;
  width: 100px;
  height: 20px;
  background-color: #86d993;
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0px 2px 10px #0b220e; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #86d993;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid #eee;
  margin-top: -0.0875em;
  padding: 0.33333em;
  background: -webkit-radial-gradient(at 65% 65%, #c1c1c1, #868887 70%) content-box, -webkit-linear-gradient(#fff, #e1dad4) padding-box;
  background: radial-gradient(at 65% 65%, #c1c1c1, #868887 70%) content-box, linear-gradient(#fff, #e1dad4) padding-box;
  -webkit-filter: drop-shadow(1px 1px 0.125em rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 0.125em rgba(0, 0, 0, 0.5)); }

input[type="range"]::-webkit-slider-thumb:after {
  content: " ";
  width: 160px;
  height: 10px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 5px;
  background: #ff5b32;
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
  border-radius: 20px; }

input[type='range']::-moz-range-thumb {
  border-width: 0.5em;
  padding: 0.33333em;
  background: radial-gradient(at 65% 65%, #c1c1c1, #868887 70%) content-box, linear-gradient(#fff, #e1dad4) padding-box;
  filter: drop-shadow(1px 1px 0.125em rgba(0, 0, 0, 0.5)); }

input[type='range']::-ms-thumb {
  border-width: 0.5em;
  padding: 0.33333em;
  background: radial-gradient(at 65% 65%, #c1c1c1, #868887 70%) content-box, linear-gradient(#fff, #e1dad4) padding-box;
  filter: drop-shadow(1px 1px 0.125em rgba(0, 0, 0, 0.5)); }

.icono-stroke, .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after, [class*="icono-"][class*="Circle"], [class*="icono-"][class*="Square"] {
  border: 2px solid; }

.stickCenterV, .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after, .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before, .icono-volumeDecrease:after, .icono-volumeIncrease:after, .icono-volumeMute:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.stickCenterH {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.stickCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.spin[class*="spin"] {
  animation: loading-spinner 2s infinite linear; }

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.icono-volume, .icono-volumeLow, .icono-volumeMedium, .icono-volumeHigh, .icono-volumeDecrease, .icono-volumeIncrease, .icono-volumeMute {
  width: 0;
  height: 0;
  border: 5px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 5px 2px;
  box-shadow: inset 3px 0;
  margin: 3px 7px 3px 8px; }

.icono-volumeLow, .icono-volumeMedium, .icono-volumeHigh {
  margin: 3px 10px 3px 5px; }
  .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: 2px; }

.icono-volumeMedium, .icono-volumeHigh {
  margin: 3px 11px 3px 4px; }
  .icono-volumeMedium:before, .icono-volumeHigh:before {
    border-style: double;
    border-width: 5px;
    left: -2px; }

.icono-volumeHigh {
  margin: 3px 13px 3px 2px; }
  .icono-volumeHigh:after {
    width: 22px;
    height: 22px;
    left: -5px; }

.icono-volumeDecrease, .icono-volumeIncrease, .icono-volumeMute {
  margin: 3px 11px 3px 4px; }
  .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before, .icono-volumeDecrease:after, .icono-volumeIncrease:after, .icono-volumeMute:after {
    box-shadow: inset 0 0 0 22px; }
  .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before {
    width: 7px;
    height: 2px;
    left: 12px; }

.icono-volumeIncrease:after, .icono-volumeMute:after {
  height: 7px;
  width: 2px;
  left: 15px; }

.icono-volumeMute:after, .icono-volumeMute:before {
  transform: translateY(-50%) rotate(45deg); }

[class*="icono-"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #17491f;
  text-align: left;
  text-indent: -9999px;
  direction: ltr; }
  [class*="icono-"]:before, [class*="icono-"]:after {
    content: '';
    pointer-events: none; }
  [class*="icono-"][class*="Circle"] {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 2px; }
  [class*="icono-"][class*="Square"] {
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin: 2px; }
  [class*="icono-"], [class*="icono-"] * {
    box-sizing: border-box; }

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #468966;
  padding-bottom: 300px; }

.content {
  display: flex;
  justify-content: center;
  flex-flow: column; }

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0; }

.beat-selector-container,
.playpause-selector-container,
.sample-selector-container {
  width: 100%; }

.beat-selector-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; }

.play-pause-button {
  margin-top: 20px; }

.volume-control-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #8e2800;
  transform: skewX(-10deg); }

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 0.3em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff0a5;
  flex-grow: 1;
  margin: 0;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.sample-group-container {
  justify-content: center;
  display: none; }
  .sample-group-container.act {
    display: flex; }

.sample-group-container-toggle {
  margin-right: 20px; }

.sample-group {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #40805e; }

@media only screen and (min-width: 1024px) {
  .content {
    flex-flow: row; }
  .beat-selector-container {
    width: 25%; }
    .beat-selector-container ul {
      flex-direction: column;
      align-items: center; }
  .sample-selector-container {
    width: 60%; }
  .playpause-selector-container {
    width: 15%; }
  .play-pause-button {
    margin-top: 10px; } }

header .tgl-skewed + .tgl-btn {
  transform: skew(0deg); }
  header .tgl-skewed + .tgl-btn:after, header .tgl-skewed + .tgl-btn:before {
    transform: skew(0deg); }
