.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondaryColorBtnPlay', endColorstr='$primaryColorBtnPlay',GradientType=0);
  background-color: #ffffff;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: .3em; }

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primaryColorBtnPlay', endColorstr='$secondaryColorBtnPlay',GradientType=0);
  background-color: #f6f6f6; }

.myButton:active {
  position: relative;
  top: 1px; }

/*components*/
/* toggle */
/* thx to Mauricio Allendo for nice button */
/* https://codepen.io/mallendeo/pen/eLIiG */
/* general toggle style */
.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all .2s ease; }

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE; }

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all .4s ease;
  border: 1px solid #e8eae9; }
  .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08); }
  .tgl-ios + .tgl-btn:hover:after {
    will-change: padding; }
  .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 2em #e8eae9; }
    .tgl-ios + .tgl-btn:active:after {
      padding-right: .8em; }

.tgl-ios:checked + .tgl-btn {
  background: #86d993; }
  .tgl-ios:checked + .tgl-btn:active {
    box-shadow: none; }
    .tgl-ios:checked + .tgl-btn:active:after {
      margin-left: -.8em; }

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888; }
  .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on); }
  .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off); }
  .tgl-skewed + .tgl-btn:active {
    background: #888; }
    .tgl-skewed + .tgl-btn:active:before {
      left: -10%; }

.tgl-skewed:checked + .tgl-btn {
  background: #86d993; }
  .tgl-skewed:checked + .tgl-btn:before {
    left: -100%; }
  .tgl-skewed:checked + .tgl-btn:after {
    left: 0; }
  .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%; }

ul li {
  color: #fff0a5;
  display: block;
  position: relative;
  text-transform: uppercase; }
  ul li:hover label {
    color: #FFFFFF; }
  ul li input[type=radio] {
    position: absolute;
    visibility: hidden; }
  ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0 25px 0 50px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    transform: skew(-10deg); }
  ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #fff0a5;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 5px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear; }
  ul li:hover .check {
    border: 5px solid #FFFFFF; }
  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear; }

input[type=radio]:checked ~ .check {
  border: 5px solid #86d993; }

input[type=radio]:checked ~ .check::before {
  background: #86d993; }

input[type=radio]:checked ~ label {
  color: #86d993; }

.c-pp {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  user-select: none; }
  .c-pp__icon {
    box-sizing: border-box;
    display: block;
    position: absolute;
    transition: all 0.2s ease;
    width: 15px;
    height: 30px;
    transform: translateX(23.07692px);
    top: 15px;
    border-top: 0 solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 0 solid transparent;
    border-left: 5px solid #fff; }
    .c-pp.is-play .c-pp__icon {
      transform: translateX(26.08696px);
      border-top: 15px solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #fff; }

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #468966;
  padding-bottom: 300px; }

.content {
  display: flex;
  justify-content: center;
  flex-flow: column; }

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0; }

.beat-selector-container,
.playpause-selector-container,
.sample-selector-container {
  width: 100%; }

.beat-selector-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; }

.play-pause-button {
  margin-top: 20px; }

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #8e2800;
  transform: skewX(-10deg); }

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 0.3em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff0a5;
  flex-grow: 1;
  margin: 0;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.sample-group-container {
  justify-content: center;
  display: none; }
  .sample-group-container.act {
    display: flex; }

.sample-group-container-toggle {
  margin-right: 20px; }

.sample-group {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #40805e; }

@media only screen and (min-width: 1024px) {
  .content {
    flex-flow: row; }
  .beat-selector-container {
    width: 25%; }
    .beat-selector-container ul {
      flex-direction: column;
      align-items: center; }
  .sample-selector-container {
    width: 60%; }
  .playpause-selector-container {
    width: 15%; }
  .play-pause-button {
    margin-top: 10px; } }

header .tgl-skewed + .tgl-btn {
  transform: skew(0deg); }
  header .tgl-skewed + .tgl-btn:after, header .tgl-skewed + .tgl-btn:before {
    transform: skew(0deg); }
