
// taken from this color scheme https://color.adobe.com/Firenze-color-theme-24198/
$primaryColor:#468966 ;
$secondaryColor:#fff0a5;
$thirdaryColor:#ffb03b;
$fourdaryColor:#b64926;
$fivedaryColor:#8e2800;

$primaryColorBtnStop: #a90329;
$secondaryColorBtnStop: #8f0222;
$thirdaryColorBtnStop:#6d0019;

$primaryColorBtnPlay: #f6f6f6;
$secondaryColorBtnPlay: #ffffff;
$borderRadiusBtnPlay: 6px;
